*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Edu VIC WA NT Beginner";
    font-size: 1em;
}
body 
{
    background-color: black;
}
form 
{
    background-color: black;
    display: grid;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px  #6DA5C0);
}
input 
{
    /* background-color: darkkhaki; */
    padding: 10px;
    border-radius: 10px;
}
.first ,.last ,.email, .number
{
    font-weight: bold;
    padding: 10px;
    border: none;
    color: white;
    background-color: transparent;
    /* border: 2px solid #05161A; */
    border-radius: 8px;
    margin-right:4px ;
}
.first:hover
{
    background-color: #05161A;
    filter: drop-shadow(5px 5px 10px #6DA5C0);
}
.last:hover
{
    background-color: #05161A;
    filter: drop-shadow(5px 5px 10px #6DA5C0);
}
.email:hover
{
    background-color: #05161A;
    filter: drop-shadow(5px 5px 10px #6DA5C0);
}
.number:hover
{
    background-color: #05161A;
    filter: drop-shadow(5px 5px 10px #6DA5C0);
}
button 
{
    padding: 10px;
    width: 80px;
    border-radius: 10px;
    border: none;
    margin: auto;
}
button:hover
{
    background-color: #05161A;
    color: #6DA5C0;
    filter: drop-shadow( 10px #6DA5C0);
}